@import "button.css";
@import "select.css";
@import "label.css";
@import "form-container.css";
@import "modal.css";
@import "colors.css";
@import "notification.css";
@import "file-upload.css";
@import "tiny-mce.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .bottom-unset {
        bottom: unset;
    }
}
@layer base {
    body {
        @apply text-gray-600 dark:text-white dark:bg-gray-900
    }

    h1 {
        @apply text-6xl lg:text-8xl font-bold uppercase mt-4 mb-2 relative
    }

    h2 {
        @apply text-3xl lg:text-5xl font-medium mt-4 mb-2
    }

    .container {
        @apply px-2 lg:px-0
    }

    p {
        @apply mb-4 leading-relaxed text-lg md:text-xl
    }

    li {
        @apply text-lg md:text-xl
    }

    .blog ul, .blog ol {
        @apply list-disc ml-10 mb-4
    }

    .la-dark-nav{
        @apply dark:bg-gray-800 dark:text-white dark:border-gray-400/30
    }

    [x-cloak] {
        @apply !hidden
    }

    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        @apply text-black text-[1rem] border-none ring-1  py-2 px-4 w-full ring-gray-300  focus:ring-primary-500 focus:ring-2  placeholder:text-slate-400
        shadow-sm disabled:opacity-50 duration-100 rounded
        dark:bg-gray-700 dark:text-white/90  dark:placeholder:text-gray-300/80 dark:ring-gray-300/40 dark:focus:ring-primary-500;
    }

    [type="checkbox"] {
        @apply text-primary-500 py-2 px-2 border-none ring-gray-400/80 ring-inset  ring-1 focus:ring-primary-500  shadow-sm disabled:opacity-50 duration-75
        checked:bg-primary-500 indeterminate:bg-gray-300 rounded
        dark:bg-gray-400 dark:checked:bg-primary-500;
    }

    [type="radio"] {
        @apply appearance-none text-primary-500 py-2 px-2 border-gray-300  focus:ring-primary-500 focus:ring-1 focus:border-primary-500 shadow-sm disabled:opacity-50 duration-75 indeterminate:bg-transparent rounded-full invalid:bg-transparent;
    }

    .little-admin-fildset {
        @apply before:content-[''] before:absolute before:left-0 before:right-0 before:top-5 before:-bottom-1 before:border before:border-gray-300 before:rounded-lg before:pointer-events-none
    }

    label {
        @apply text-[1rem] dark:text-white/90
    }
    .disabled__field{
        @apply pointer-events-none opacity-70
    }
}






